@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/fonts";

.cta-section {
    @include bg_gradient($site-grey, 18%);
    padding-top: 5rem;
    padding-bottom: 5rem;

    .section-title {
        font-size: 2.2rem;
        font-family: "roboto";
        letter-spacing: 0.5px;
        color: $site-red;

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    .btn {
        font-family: "roboto";
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
    }

    .btn-outline-site-orange {
        border: 2px solid $site-orange;
        
        &:hover {
            background-color: $site-orange;
            color: $site-grey !important;
        }
    }
}
