@use "scss/base/variables";
@use "custom_bootstrap";
@use "scss/components/svg_style.scss";

@use "scss/sections/navmenu";
@use "scss/sections/intro";
@use "scss/sections/summary";

@import "scss/sections/products";
@import "scss/sections/usecases";
@import "scss/sections/features";
@import "scss/sections/testimonials";
@import "scss/sections/cta";
@import "scss/sections/footer";
